* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
}

:root {
    --pink: #FF6057;
    --white:#FFFFFF;
    --grey: #3b3a3a;
    --light-grey: #8f8f8f
}

.header-container {
    padding-left: 54px;
}

.logo{
    color: var(--white);;
    font-size: 40px;
    font-weight: 500 ;
}

.navbar .logo:nth-child(1){
    width: 166px;
    height: 60px;
    font-size: 52px;
    font-weight: bold;
}
.logo:hover{
    color: white;
}

.header-bg-img  {
    background: url("../imgs/bg1.png");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar{
    padding: 0;
}

.navbar-toggler{
    background-color: white;
    position: relative;
    left: -8rem;
}


.navbar-nav .nav-item {
    padding: 0 15px;
}

.navbar-nav .nav-item .nav-link{
    color: var(--white);
    font-size: 14px;
    margin-top: 26px;
}

.about{
    background-image: linear-gradient(to left, #7C1C80, var(--pink));
    margin: 10px;
    padding: 11px 35px;
    text-align: center;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 11px;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 0;
    width: 178px;
    height: 45px;
}

.navbar .about{
    top: 10px;
}

.about:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

.dashboard{
    max-width: 104%;
    margin-top: 30px;
}


.header-text{
    padding-top: 90px;
}

.header-text p {
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
}

.header-text p:nth-child(2) {
    font-size: 45px;
    font-weight: 700;
}

.header-text p:nth-child(3) {
    font-size: 18px;
    
}

.header-text a{
    color: var(--pink);
    background: white;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 8px;
    font-size: 16px;
    width: 178px;
    height: 45px;
}

.features-text{
    left: 8%;
}
.dashboard-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 7%;
}

.icon-img{
    position: relative;
    left: -21px;
}

.dashboard-text > .icons{
    border: 2px solid var(--pink);
}

.features-text p:nth-child(2) , .dashboard-text p:nth-child(2){
    color: var(--grey);
    font-size: 38px;
    max-width: 350px;
}
.dashboard-text p:nth-child(2){
    max-width: 407px;
}

.features-text p:nth-child(3), .dashboard-text p:nth-child(3){
    color: var(--light-grey);
    font-size: 14px;
    max-width: 476px;
    line-height: 1.8;
}



.features-text p:nth-child(4) ,.dashboard-text p:nth-child(4){
    color: var(--pink);
    font-size: 16px;
}

.features-text p img , .dashboard-text p img{
    padding-left: 40px;
}

.caption{
    font-size: 14px;
    color: var(--light-grey);
    line-height: 1.8
}

.learn-about-container{
    padding-top: 110px;
}


.icons{
    border-bottom: 3px solid var(--pink);
    margin-bottom: 20px;
    width: 90px;
}

.dashboard-container{
    position: relative;
    top: 200px;
    max-width: 94%;
}
.dashboard-left-container{
    position: relative;
    top: 200px;
}

.dashboard-bg-img-first{
    background-image: url(../imgs/bg2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-position-x: -50rem;
    background-position-y: -3rem;
    height: 80rem;
    position: relative;
    top: -135px;
}
.dashboard-bg-img-second{
    background-image: url(../imgs/bg3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-position-x: 52rem;
    background-position-y: -3rem;
    height: 80rem;
    position: relative;
    top: -23rem;;
}

.advanced-customer{
    position: relative;
    top: -25rem;
    text-align: center;
}

.row1 p {
    font-size: 28px;
    color: var(--light-grey);
}

.row2 p {
    font-size: 60px;
    color: var(--grey);
}

.row3 p {
    font-size: 14px;
    color: var(--light-grey);
    line-height: 1.7;
}

.carousel-item{
    display: none;
}
.carousel-item .active{
    display: block;
}

.carousel-indicators{
    padding-bottom: 10px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--light-grey);
}
.carousel-indicators .active{
    background-color: var(--pink);
}

.acc-proccess .about, .aboutus-info .about{
    right: auto;
    margin: 0;
}
.acc-proccess-text .about{
    top: auto;
    position: relative;
    margin-bottom: 20px;
}
.acc-proccess-text p:nth-child(1){
    font-size: 38px;
    color: var(--grey);
}

.acc-proccess-text p:nth-child(2){
    font-size: 14px;
    color: var(--light-grey);
    min-width: 476px;
    line-height: 1.7;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: var(--pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-left: 35px;
}

.vertical-line{
    border-left: 3px solid #bcbcbc;
    height: 83px;
    margin: 15% 51px;
}

.acc-proccess-bullets .col-6:nth-child(2) p:nth-child(1){
    color: var(--grey);;
    font-size: 24px;
}

.acc-proccess-bullets .col-6:nth-child(2) p:nth-child(2){
    color: var(--light-grey);
    font-size: 14px;
    max-width: 420px;
}
.acc-proccess{
    position: relative;
    top: -25rem;
}
.bullets{
    position: relative;
    left: 100px;
}
.info{
    padding-left: 8%;
    position: relative;
    bottom: 12rem;
}
.head-info{
    font-size: 38px;
    color: var(--grey);;
    margin-bottom: 4rem;
}

.price-info{
    font-size: 46px;
    color: var(--pink);
}

.details-info{
    font-size: 20px;
    color: var(--grey);;
}

.card {
    flex-direction: row;
    padding: 36px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
    max-width: 574px;
    height: 360px;
}

.card img {
    width: 30%;
}
.aboutus-info{
    margin-top: 1.2%;
}

.aboutus-info .about{
    top: auto;
    position: relative;
    margin-bottom: 14px;
}

.aboutus-info p:nth-child(1){
    font-size: 38px;
    color: var(--grey);
    min-width: 471px;
}


.aboutus-info p:nth-child(2){
    font-size: 14px;
    color: var(--light-grey);
    min-width: 476px;
    line-height: 1.7;
}

.card-body p:nth-child(1){
    font-weight: 600;
    font-size: 31px;
    color: var(--grey);;
}

.card-body p:nth-child(2){
    font-size: 16px;
    color: var(--light-grey);
}

.card-body p:nth-child(3){
    font-size: 18px;
    color: var(--light-grey);
}

.carousel-inner{
    overflow: inherit;
}

.dashboard-indicators{
    padding-top: 55px;
    position: relative;
}

.form-outline{
    width: 480px;
    height: 51px;
    margin-top: 9px;
}

.subscribe-btn{
    width: 206px;
    height: 51px;
    position: absolute;
    right: -5.1rem;
    background-color: var(--pink);;
    border-radius: 25px;
}

.email-input{
    height: 51px;
    border-radius: 25px;
    width: 280px;
    padding-right: 38px;
}

.footer-logo{
    font-size: 48px;
    font-family: 'nueva std';
    font-weight: bold;
}

.footer-text{
    font-size: 14px;
    padding-top: 9px;
}

.footer-row{
    justify-content: center;
}

.footer-row .col-md-3{
    display: flex;
    flex-direction: column;
}

.footer-row .col-md-3:nth-child(2) , .footer-row .col-md-3:nth-child(3){
        padding-top: 2.3rem;
}

.footer-row .col-md-3 .row:nth-child(2) p{
    width: 282px;
    height: 130px;
}

.footer-row .col-md-3:nth-child(2) .row:nth-child(2) p{
    width: 174px;
    height: 142px;
    font-size: 14px;
}


.footer-row .col-md-3:nth-child(2) .row:nth-child(1) p strong{
    font-size: 16px;
}

.footer-row .col-md-3:nth-child(3) .row:nth-child(1) p strong{
    font-size: 16px;
    min-width: 212px;
}



@media screen and (max-width:1200px) {
    .bullets{
        left: 5rem;
    }
    .vertical-line {
        height: 83px;
        margin: 27% 51px;
    }    
    .subscribe-btn{
        left: 10rem;
    }
    .header-container{
        padding: 0;
    }
    .header-text p:nth-child(2){
        font-size: 21px
    }
    .navbar-toggler{
        position: relative;
        left: -15rem;
        top: 1rem;
        border: 1px solid white;
        box-shadow: 0 0 7px #eee;
        height: 45px;
    }
    .navbar-nav .nav-item{
        padding: 0 6px;
    }
    .card{
        padding: 0 20px;
    }
}


@media screen and (max-width:992px) {
    .bullets{
        left: 0.5rem;
    }
    .form-outline{
        min-width: 280px;
    }
    .subscribe-btn{
        top: 6.85rem;
    }
    .card-body p:nth-child(3) {
        font-size: 14px;
    }
    .acc-proccess-text p:nth-child(2) {
        min-width: auto;
    }
    .dashboard-container{
        top: 122px;

    }
    .acc-proccess-bullets .col-6:nth-child(2) p:nth-child(2) {
        min-width: 12rem;
    }
    .market_research{
        left: -25px;
    }
    .vertical-line {
        margin: 60% 51px;
    }   
}

@media screen and (max-width: 767px) {
    .subscribe-btn{
        top: 5.35rem;
    }
    .header-text p:nth-child(2){
        font-size: 15px
    }
    .navbar-toggler{
        top: 11px;
    }
    .about{
        top: 10px;
    }
    .bullets{
        left: 1rem;
    }
    
}

@media screen and (max-width: 450px) {
    .navbar .logo:nth-child(1) {
        font-size: 37px;
    }
    .navbar .about{
        width: 130px;
    }
    .navbar-toggler{
        left: -10rem;
        top: 13px;
    }
    .vertical-line{
        margin: 96% 51px;
    }
    .acc-proccess-bullets .col-6:nth-child(2) p:nth-child(2) {
        min-width: 12rem;
    }
    .market_research{
        left: -3rem;
    }
    .aboutus-info p:nth-child(2) , .aboutus-info p:nth-child(1){
        min-width: 50%;
    }
}
